@import '../../scss/lib/vars';

.home {
  padding: 2%;

  border: 3px solid $site-primary;
  ul {
    list-style: none;
    // width: 80%;

    li {
      margin-top: $gutter-sm;
      margin-bottom: $gutter-sm;
      width: 100%;
    }
  }
}
