<section class="page home">
  <h1>Welcome!</h1>

  <ul>
    <li> <p> Demaree Services is a commercial and marina property
    maintenance company. Our goal is to increase the property owner's
    return on investment by maintaining real estate assets through prompt,
    efficient, and cost effective service. </p></li>

    <li> <p> Demaree Services has been providing quality property
    management services since 1995. Since incorporating in 2000, hard
    work and proven performance has tripled the size of our company. </p></li>

    <li> <p> We continue to grow, adding staff and additional
    services as demand for our services increases. At this time, Demaree
    Services provides facilities engineering for several class-A office
    buildings and 4 marinas. </p></li>

    <li> <p> Demaree Services additionally provides a variety of services for owners
    and tenants of commercial buildings. Besides basic maintenance of common
    areas and structures, we address security issues, schedule inspections and
    repairs, maintain landscaping and building appearance, service electrical
    needs, perform Commercial Electrical and Tenant Improvements. </p> </li>

    <li> <p> We provide our clients with a quality, responsive
    property management and contracting company that looks for long-term
    solutions. We make every effort to have our projects well planned
    and executed, under budget, and on schedule. </p></li>

    <li> <p> Licensed, Bonded and Insured. </p> </li>
  </ul>

  <button ng-click="homeCtrl.postStuff()" type="button" name="button">Im a Button</button>

</section>
