<section class="page rates">
  <h1>Rates & Fees</h1>

  <section>
    <p> Demaree Services clients have differing needs, and we have adapted our accounting systems to meet those needs. As a smaller firm, we can offer the flexibility to meet changing circumstances. Our rates are structured to address the varied scope of work and the allocation of costs to individual tenants. </p>

    <h2> Time and Materials: </h2>
    <ul>
      <li> Project Managers are billed out at $60 per hour. </li>
      <li> Facilities Engineers bill out at $50 per hour. </li>
      <li> Electricians bill out at $90 per hour. </li>
      <li> Electrical Apprentices bill out at $45 per hour. </li>
      <li> Laborers bill out at $25 per hour. </li>
      <li> Materials and subcontractors are billed out at cost plus 15%. </li>
    </ul>

    <p> Because the task at hand determines what work is performed, it is entirely possible that one individual could go through several classifications. These changes would, of course, be reflected in the invoicing. </p>


    <p> Work hours for Demaree Services are flexible. Our start and finish times are adjusted daily to give our clients the best combination of value and convenience. Some projects, however, will require overtime. Overtime starts after eight hours, or for emergency call outs. Emergency call-outs start when the call is received, and time is billed portal to portal. Overtime bills out at time and a half. Major holidays are billed out at double time. </p>

    <h2> Bid Work: </h2>

    <p> For bid work, please call us at 206-923-1911. </p>

    <p> Sample work records and sample invoices are available upon request. </p>

  </section>
</section>
