<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personnel</title>

    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>
    <header>
      <section class="title">
        <img src="http://placehold.it/150x150/334897/ffffff" alt="">
        <h1>Commercial Property Maintenence</h1>
      </section>
      <nav class="navbar">
        <a href="../../index.html">Home</a>
        <a href="../services/services.html">Services</a>
        <a href="../testimonials/testimonials.html">Client Testimonials</a>
        <a href="../rates/rates.html">Rates & Fees</a>
        <a href="#">Personnel</a>
      </nav>
    </header>

    <main>
      <section class="landing">
        <h1>Personnel</h1>
      </section>
    </main>
  </body>
</html>
