@import '../lib/vars';

html body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  margin: 0 auto;
  background-color: $white;
}

h1 {
  font-size: 1.8vw;
  text-decoration: underline;
  margin-bottom: $gutter-sm;
}

h2 {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

main{
  max-width: 960px;
  width: 90%;
  margin: $gutter-sm/2 $gutter-sm/2;
  min-height: 400px;
}

footer {
  height: 6vw;
  width: 100%;
  background-color: $site-primary;
}

button {
  cursor: pointer;
}

.btn-std {
  background-color: #444;
  border-radius: 3px;
  font-size: 1.5vw;
  color: #fff;
  cursor: pointer;
}

.btn-std:hover {
  outline: none;
}
