header {

  width: 100%;
  top: 0;
  z-index: 999999;
  margin-bottom: $gutter-sm;

  background-color: $site-primary;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: $gutter-sm/2;
    padding: 1%;

    h1 {
      text-decoration: none;
      margin: $gutter-sm/2;
      margin-right: $gutter-std;

      color: $white;
    }

    img {
      width: 12%;
      margin-right: $gutter-sm;
    }
  }
}
