header {
  // display: flex;
  // flex-direction: column;

  width: 90%;
  top: 0;
  z-index: 999999;
  margin-bottom: $gutter-sm;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin: $gutter-std;
    padding: 1.5%;

    h1 {
      text-decoration: none;
      margin: $gutter-sm/2;
      margin-right: $gutter-sm
    }

    img {
      width: 15%;
      margin-right: $gutter-sm/2;
    }
  }

}
