<section class="page personnel">
  <h1> Personnel </h1>
  <section class="personnel-content">
    <p> Demaree Services is owned and operated by John and Bonnie Demaree. </p>

    <p> Employees at our company are issued Nextel phones to assure 24/7 accessibility. We recognize that reaching the right person in the middle of the night can be difficult, so our company phone number always pages the on-duty supervisor for immediate response. Our staff comes from an emergency response background and strives to be always ready. </p>

    <p> Demaree Services has staff available to assist in electrical, custodial, landscaping, maintenance, and repair work. </p>
  </section>

</section>
