<section class="navbar">
  
  <span class="nav-btn" ng-click="navbarCtrl.showHome()">Home</span>
  <span class="nav-btn" ng-click="navbarCtrl.showServices()">Services</span>
  <span class="nav-btn" ng-click="navbarCtrl.showTestimonials()">Testimonials</span>
  <span class="nav-btn" ng-click="navbarCtrl.showRates()">Rates</span>
  <span class="nav-btn" ng-click="navbarCtrl.showPersonnel()">Personnel</span>
  <!-- <button class="nav-btn" ng-click="navbarCtrl.showBlog()">Blog</button> -->
</section>
