<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Personnel</title>

    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>

    <header>
      <section class="title">
        <img src="http://placehold.it/150x150/334897/ffffff" alt="">
        <h1>Commercial Property Maintenence</h1>
      </section>
      <nav class="navbar">
        <a href="../../index.html">Home</a>
        <a href="#">Services</a>
        <a href="../testimonials/testimonials.html">Client Testimonials</a>
        <a href="../rates/rates.html">Rates & Fees</a>
        <a href="../personnel/personnel.html">Personnel</a>
      </nav>
    </header>

    <main>
      <section class="landing">
  <!-- <h1>Our Services</h1>

  <p>Demaree Services provides a variety of services for owners and tenants of commercial buildings. Besides basic maintenance of common areas and structures, we work on security issues, schedule inspections and repairs, maintain landscaping and building appearance, service electrical needs, and handle tenant issues.</p>

  <h2> Maintenance and Repairs </h2>
  <p> Demaree Services offers an excellent track record of performing maintenance and repairs in a wide variety of circumstances. For example, at one end of the spectrum, we provide maintenance for small systems in high-end offices such as repairing the remote control for a gas fireplace. At the same time, Demaree Services has experience managing and executing structural repairs to a marina's concrete dock. In all cases, clear communication between customers, tenants, owners, contractors, and management helps all parties understand and manage</p> expectations. This process always takes into account the repair/replace question with its corresponding cost issues.

  <h2> Preventive Maintenance </h2>
  <p> We believe the fundamental purpose of the maintenance plan is to increase net operating income (NOI) while preserving the value of the real estate asset. Many of the factors going into NOI are out of the property manager's control. Rental rates are set in large part by the market. Operating expenses such as taxes, insurance, and utilities are largely fixed. Maintenance thus becomes the one area where control can be exerted on the property's finances.
  Too little, or conversely, too much, can be spent on maintenance activities. If too little is spent, a vicious cycle is created where the condition of the property deteriorates; the vacancy rate climbs, and less money is available for maintenance. Demaree Services does paint touch-ups regularly in order to maintain building appearances. We change out HVAC filters and belts on a four-month schedule, and oil circulating pumps every other month to ensure efficient and trouble-free operation. </p>

  <h2> Tenant Improvements </h2>
  <p> Demaree Services has been involved in numerous tenant improvements. In Seattle, we have helped the Washington State Department of Employment Security expand into additional space three times, and double the size of their server room. Each project involved coordination of many different trades and contractors.
  We have installed athletic workout rooms; electronic reader-boards; conference rooms; sound deadening panels; fiber optic lines; decorative items such as fountains; and large commercial kitchen appliances. </p>

  <h2> Building Inspections </h2>
  <p> Demaree Services provides weekly building and property inspections. All of our employees perform informal inspections at all times when they are on the job. For instance, a Demaree Services engineer is called to a tenant space to unclog a toilet, that engineer knows to keeps his eyes open and also notices if an exit sign isn't lit, or if some weeds are growing in a flowerbed. Immediately after the toilet is unclogged, the engineer repairs or replaces the exit sign bulb or pulls the offending weeds. Every Demaree Services employee picks up trash and cigarette butts they find on job sites. Many of our sites are littered with debris after hours. Our tenants may notice the trash in the morning, but it should be removed by the time they go out to lunch.
  Weekly inspections are logged on daily "Job Tickets" along with any deficiencies. Regular inspections and preventive maintenance are scheduled with a computerized tickler file. This is backed up in some cases by vendors' ticklers, as in the case of a fire extinguishers or a backflow preventers.</p>

  <h2> Tenant Relations </h2>
  <p> Demaree Services has a strong customer service background, and all of our personnel are expected to provide excellent service to owners, tenants, contractors, and building guests. Consequently, we have excellent relationships with tenants, neighbors, and contractors at all of our properties.
  Our staff is available 24/7 to handle emergencies. We recognize that work often has to be done "after hours" to minimize tenant inconvenience. Additionally, some work (such as checking lights) is just easier in the evening. We routinely work nights and weekends to keep things running smoothly, and we are able to bring in additional trades people in the middle of the night if necessary.
  A recent example of working "after hours" highlights our commitment to customer service. A sewer camera inspection at a Lake Union commercial building revealed that a main sewer line had settled under its concrete pad causing back ups. The challenge was to perform the necessary repairs with the least amount of disruption to the tenant's business. The work was successfully coordinated between the movers, the plumber, the carpet layers, and the tenant to minimize office downtime. Furniture and computers were moved out of the space at six o'clock on Friday night. The plumber, working with Demaree Services staff, jack-hammered the office floor, and excavated down three feet to the sewer line. The sewer line was repaired, and the carpet was laid on the newly cured concrete Sunday night at ten o'clock. The furniture and computers were re-installed Monday morning at six o'clock. The tenant's office reopened at 8:00 a.m. on schedule. </p>

  <h2> Security and Key Management </h2>
  <p> Demaree Services manages the security systems. For example, a building complex may consist of three office buildings and two marinas. The complex would be under a common master key system. The entire complex would also be covered by a surveillance camera system that records video for seven days. Each building also would have an individual security system operated by its tenants. Two of the offices and one marina might have the same electronic card keys for entry doors, gates, and parking access. </p>

  <h2> Electrical Services </h2>
  <p> As of August 2005, Demaree Services is a full-service electrical contractor providing commercial and industrial system design and installation. We also provide complete system repair, replacement, and troubleshooting on tenant improvements or other commercial and industrial applications. We service overhead and underground electrical needs too. Our vans are fully equipped enabling 24-7 response. </p> -->
      </section>
    </main>

  </body>
</html>
