<section class="landing">
  <h1> About Demaree Services </h1>

  <p> "Demaree Services is available to us (via voicemail and pager) 24 hours a day, 7 days a week. Whenever a problem has arisen, they have responded in a timely manner. We have found that many of our maintenance problems and repairs can be taken care of by Demaree Services without the hiring of an outside vendor. When it is necessary for an outside vendor to come in, Demaree Services has demonstrated its ability to hire competent people at reasonable prices. They are very cost-conscious when they look for outside assistance." </p>

  <br>

  <p> "I am pleased to have the opportunity to recommend Demaree Services. Since occupancy of our space in July, 2001, their services have proven invaluable. Not only are they extraordinarily competent, they are remarkably responsive and patient when fielding our service requests. Demaree Services manages its crews to fulfill our standard of high profile maintenance." </p>
  <br>
  <p> "Demaree Services has exhibited a professional commitment to serving our property while maintaining a pleasant working relationship with us. I feel fortunate to have access to these services and do not hesitate to recommend them." </p>
  <p> -A Building Tenant

  <br>

  <p> "Since 2000 we have employed Demaree Services as our maintenance contractor for our properties at Lake Union and Michigan Street. We have been very pleased with performance, particularly in the area of tenant relations and customer service.
  Demaree Services does an excellent job and participates as a valuable team member in the improvements and upgrades that we have done to the properties." </p>
  <p> -A Multiple Building Owner </p>

  <br>

  <p> "I…would recommend them without hesitation for anyone seeking honest, straight-forward building and property maintenance services. They have always been willing and able to respond quickly and cheerfully to whatever is presented to them-even when the need calls for weekend and nighttime services." </p>

  <br>

  <p> "I have found Demaree Services to be especially conscientious in the areas of safety, contamination and hazardous materials. Additionally, John has always been a willing partner in discussing various options and their related costs. This has been particularly helpful when seeking less expensive solutions to various property management projects." </p>
  <p> -A Property Manager </p>

  <br>

  <h2> About our employees </h2>

  <p> "His varied skills and talents would make him an excellent choice for any organization…" </p>
  <p> -A Multiple Building Owner </p>

  <br>

  <p> "…a hard worker, professional, courteous, self-motivated, has exemplary work ethic…is remarkable…" </p>
  <p> -A Client </p>

</section>
